#loop {
    animation: loop-anim 20s linear infinite;
    white-space: nowrap;
}

#outer div {
    display: inline-block;
}

#outer {
    border: 5px solid white;
}

@keyframes loop-anim {
    0% {
        margin-left: 0;
    }
    33% {
        margin-left: -25%; /* This works because of the div between "outer" and "loop" */
    }
    66% {
        margin-left: 25%;
    }
    100% {
        margin-left: 0;
    }
}